name: Deploy file builder tests

on:
  - push

jobs:
  deploy_file_builder_tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php-version: [ 7.4 ]
    name: Deploy file builder tests
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP with PECL extension
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}

      - name: Run script
        run: |
          cd generator
          composer install
          vendor/bin/codecept run
